<app-top-bar></app-top-bar>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-body">
          <h1>Document App</h1>
          <div class="content">

                <div class="row">
                    <div class="col text-center">
                        <a routerLink="/document-app/rest-request" class="btn btn-primary btn-md btn-block">Rest Request</a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col text-center">
                        <a [routerLink]="" class="btn btn-primary btn-md btn-block">Business Trip Request</a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col text-center">
                        <a [routerLink]="" class="btn btn-primary btn-md btn-block">Business Trip Report</a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col text-center">
                        <a [routerLink]="" class="btn btn-primary btn-md btn-block">Purchase Request</a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                        <a routerLink="/app-selection" class="btn btn-primary btn-md">Back</a>
                    </div>
                  </div>
                  
              
            

          </div>
          
          
        </div>
      </div>
    </div>
  </div>
