<app-top-bar></app-top-bar>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-body">
          <h1>Rest Request</h1>
          <div class="content">

                <div class="row">
                    <div class="col text-center">
                        <a routerLink="/document-app/rest-request" class="btn btn-primary btn-md btn-block">Create Request</a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col text-center">
                        <a [routerLink]="" class="btn btn-primary btn-md btn-block">Status List</a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col text-center">
                        <a [routerLink]="" class="btn btn-primary btn-md btn-block">Request List</a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                        <a routerLink="/document-app" class="btn btn-primary btn-md">Back</a>
                    </div>
                  </div>
                  
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
